[submodule "fast-rcnn"]
	path = networks/fast-rcnn
	url = https://github.com/rbgirshick/fast-rcnn.git

[submodule "neuraltalk"]
	path = networks/neuraltalk
	url = https://github.com/karpathy/neuraltalk.git

[submodule "selective_search"]
	path = utils/selective_search
	url = https://github.com/belltailjp/selective_search_py.git
