{% extends 'layout.html' %}
{% block body %}
	<h1>Captions valideren</h1>

	<p>Met onderstaande tool kan deze captions handmatig gevalideerd worden.</p>
	<div id="caption-wrapper" class="row">
		<div class="col-sm-4 col-md-6 col-md-offset-3">
			<div class="thumbnail">
				<img src="/static/images/{{ row[2] }}" id="caption-image">
				<form method="POST">
					<input type="hidden" name="id" value="{{ row[0] }}">
					<div class="form-group">
						<label class="control-label">Type plaatje</label>
						<div class="switch-toggle well">
							<input id="normal" name="type" type="radio" value="1" checked>
							<label for="normal" onclick="">Normaal <kbd>1</kbd></label>
							<input id="strip" name="type" type="radio" value="2">
							<label for="strip" onclick="">Strip <kbd>2</kbd></label>
							<input id="diagram" name="type" type="radio" value="3">
							<label for="diagram" onclick="">Diagram <kbd>3</kbd></label>
							<a class="btn btn-primary"></a>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Omschrijving</label>
						<textarea name="caption" class="form-control">{{ caption }}</textarea>
					</div>
					<div class="row">
						<div class="col-md-5">
							<input type="submit" name="btn_yes" class="btn btn-success" value="Goedkeuren" />
							<input type="submit" name="btn_no" class="btn btn-danger" value="Afkeuren" />
						</div>
						<div class="col-md-3">
							<input type="submit" name="btn_generate" class="btn btn-primary" value="Genereer" {{ 'disabled="disabled"' if not model_running else '' }} />
						</div>
						<div class="col-md-4">
							<div class="pull-right">
								<a href="/idb/validate/{{ loisID }}/{{ row[0] }}/previous" class="btn btn-default">Vorige</a>
								<a href="/idb/validate/{{ loisID }}/{{ row[0] }}/next" class="btn btn-default">Volgende</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}