{% extends 'layout.html' %}
{% block body %}
	<h1>Overzicht van boeken</h1>

	<p>Een overzicht van alle boeken in de iDB.</p>

	{% if not rows %}
		<p class="text-info">Op dit moment staat er niks in de database.</p>
	{% else %}
		<table class="table">
			<tr>
				<th>LoisID</th>
				<th># plaatjes</th>
				<th># plaatjes met caption</th>
				<th># gevalideerd</th>
				<th># goedgekeurd</th>
				<th>Acties</th>
			</tr>
			{% for row in rows %}
			<tr>
				<td><a href="{{ url_for('idb_validate_book', loisID=row[0]) }}">{{ row[0] }}</a></td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td>{{ row[3] }}</td>
				<td>{{ row[4] }}</td>
				<td>
					<a id="btn-gen-caps" href="{{ url_for('idb_gen_caps', loisID=row[0]) }}" class="btn btn-primary" {{ 'disabled="disabled"' if not model_running else '' }}><span class="glyphicon glyphicon-comment"></span> Genereer captions <img src="/static/loader.gif" id="gen-cap-loader" /></a>
					<a href="{{ url_for('idb_export_book', loisID=row[0]) }}" class="btn btn-info"><span class="glyphicon glyphicon-export"></span> Exporteer</a>
					<a href="{{ url_for('idb_remove_book', loisID=row[0]) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Verwijderen</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}