{% extends 'layout.html' %}
{% block body %}
	<h1>Overzicht</h1>
	<p>Een lijst met alle gebouwde modellen en hun instellingen</p>
	<table class="table" id="models-table">
		<tr>
			<th>Naam</th>
			<th>Type</th>
			<th>Laatst bewerkt</th>
			<th>Actie</th>
		</tr>
		{% for model in models %}
		<tr>
			<td>
				<a href="#" class="show-options">{{ model['name'] }}</a>
				<div class="options-wrapper">
					<dl class="dl-horizontal">
						{% for name, value in model['options'].items() %}
							<dt>{{ name }}</dt>
							<dd>{{ value }}</dd>
						{% endfor %}
					</dl>
				</div>
			</td>
			<td>{{ model['options']['attn_type'] }}</td>
			<td>{{ model['modified'] }}</td>
			<td>
				{% if not model['running'] %}
					<a href="#" class="start-model" data-name="{{ model['name'] }}">Start</a>
				{% else %}
					<a href="#" class="stop-model" data-name="{{ model['name'] }}">Stop</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}