{% extends 'layout.html' %}
{% block body %}
	<h1>Getrainde modellen</h1>
	<p>Een lijst met alle gebouwde modellen en hun instellingen. Verder is het mogelijk om een model te starten/stoppen.</p>
	<table class="table" id="models-table">
		<tr>
			<th>Naam</th>
			<th>Type</th>
			<th>Laatst bewerkt</th>
			<th>Actie</th>
			<th>Status</th>
		</tr>
		{% for model in models %}
		<tr>
			<td>
				<a href="#" class="show-options">{{ model['name'] }}</a> <a href="#" data-toggle="modal" data-target="#rename-model-modal" data-name="{{ model['name'] }}" class="rename-model"><span class="badge">Hernoemen</span></a>
				<div class="options-wrapper">
					<dl class="dl-horizontal">
						{% for name, value in model['options'].items() %}
							<dt>{{ name }}</dt>
							{% if name == 'dictionary' and value %}
							<dd>{{ value|length }} words in this dictionary</dd>
							{% else %}
							<dd>{{ value }}</dd>
							{% endif %}
						{% endfor %}
					</dl>
				</div>
			</td>
			<td>
				{% if 'tex_dim' in model['options'] %}
					Met context ({{ model['options']['preproc_type'] }})
				{% else %}
					Zonder context
				{% endif %}
			</td>
			<td>{{ model['modified'] }}</td>
			<td>
				<a href="#" class="toggle-model" data-action="{{ 'start' if not model['status'] else 'stop' }}" data-name="{{ model['name'] }}">
					{{ 'Start' if not model['status'] else 'Stop' }}
				</a>
			</td>
			<td>
				<span class="model-status" data-name="{{ model['name'] }}"><img src="{{ url_for('static', filename='loader.gif') }}"></span>
			</td>
		</tr>
		{% endfor %}
	</table>

	<div id="rename-model-modal" class="modal">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Model hernoemen</h4>
	      </div>
	      <div class="modal-body">
	        <form class="form" action="/models/rename" method="POST">
	        	<input type="hidden" name="old_name" value="">
	        	<div class="form-group">
	        		<label class="control-label">Model naam</label>
	        		<div class="input-group">
	        			<input type="text" name="name" value="" class="form-control">
	        			<span class="input-group-addon">.npz</span>
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<input type="submit" value="Hernoemen" class="btn btn-primary">
	        	</div>
	        </form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}