{% extends 'layout.html' %}
{% block body %}
	<h1>Opties</h1>

	<form class="form-horizontal" method="POST">
		<fieldset>
			<legend>Modellen</legend>
			<div class="form-group">
				<label class="col-lg-2 control-label">Plaatjes</label>
				<div class="col-lg-10">
					<input type="text" name="images_folder" class="form-control" value="{{ config['IMAGES_FOLDER'] }}">
					<p class="help-block">Het pad naar de plaatjes waar het model op getrained kan worden.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Data</label>
				<div class="col-lg-10">
					<input type="text" name="data_folder" class="form-control" value="{{ config['DATA_FOLDER'] }}">
					<p class="help-block">Het pad naar de data dat gebruikt wordt om het model te trainen.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Uploads</label>
				<div class="col-lg-10">
					<input type="text" name="upload_folder" class="form-control" value="{{ config['UPLOAD_FOLDER'] }}">
					<p class="help-block">Het pad waar plaatjes die gebruikt worden om het model te testen naar geupload worden.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Modellen</label>
				<div class="col-lg-10">
					<input type="text" name="models_folder" class="form-control" value="{{ config['MODELS_FOLDER'] }}">
					<p class="help-block">Het pad waar de getrainde modellen worden opgeslagen.</p>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>iDB instellingen</legend>
			<div class="form-group">
				<label class="col-lg-2 control-label">Folder</label>
				<div class="col-lg-10">
					<input type="text" name="idb_folder" class="form-control" value="{{ config['IDB_FOLDER'] }}"></input>
					<p class="help-block">Het pad naar de image database.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Database bestand</label>
				<div class="col-lg-10">
					<input type="text" name="idb_file" class="form-control" value="{{ config['IDB_FILE'] }}"></input>
					<p class="help-block">Het pad naar het image database bestand.</p>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Overig</legend>
			<div class="form-group">
				<label class="col-lg-2 control-label">Debug modus server</label>
				<div class="col-lg-10">
					<select name="debug" class="form-control">
						<option value="1">Ja</option>
						<option value="0">Nee</option>
					</select>
				</div>
			</div>
		</fieldset>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Bijwerken</button>
			</div>
		</div>
	</form>
{% endblock %}